<%= form_for([ :admin, @post ], html: { class: 'styled' }) do |f| %>
	<% if @post.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

			<ul>
			<% @post.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<h6><%= f.label :title %></h6>
	<%= f.text_field :title %>

	<h6><%= f.label :content %></h6>
	<%= f.text_area :content %>

	<h6><%= f.label :tag_list %></h6>
	<%= f.text_field :tag_list %>

	<%= f.submit class: 'button' %>
<% end %>
