<section class="post">
	<div class="eight columns">
		<% if notice %>
		<div class="alert success">
			<%= notice %>
		</div>
		<% end %>
		<h4 class="post_title"><%= link_to @post.title, post_path_with_slug(@post) %></h4>

		<%= markdown(@post.content) %>

		<div class="metadata">
			<i class="icon-time" title="Date Posted"></i>
			<%= time_tag @post.created_at %>
			<% if @post.tag_list.any? %>
				<br>
				<i class="icon-list" title="Tags"></i>
				<%= tag_list(@post) %>
			<% end %>
		</div>
	</div>

	<br class="clear">
</section>

