<!DOCTYPE html>
<html>
<head>
  <title>pgengler.net</title>
  <%= stylesheet_link_tag    'application', :media => 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class='masthead'>
		<h1>pgengler.net</h1>
		<p><%= subhead %></p>
	</header>
	<div class='container-fluid'>
		<div class='row-fluid'>
			<div class='span7 offset1'>
				<%= yield %>
			</div>
			<div class='span3 offset1'>
				<nav>
					<ul>
						<li><%= link_to 'Home', root_url %></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<div class='row-fluid'>
		<footer class='span12'>
			<hr>
			<%= link_to image_tag('somerights.png', :alt => 'Creative Commons Attribution License'), 'http://creativecommons.org/licenses/by/2.5' %>
			<br>
			Licensed under a Creative Commons license
		</footer>
	</div>
</body>
</html>
