<!DOCTYPE html>
<html>
<head>
  <title>pgengler.net</title>
  <%= stylesheet_link_tag    'application', :media => 'all' %>
  <%= stylesheet_link_tag    'http://fonts.googleapis.com/css?family=PT+Mono' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class='masthead row-fluid'>
		<div class='span8 offset2'>
			<h1><%= link_to 'pgengler.net', root_url %></h1>
			<p><%= subhead %></p>
			<div class='row-fluid'>
				<nav class='span12'>
					<ul class='nav nav-pills'>
						<li><%= link_to 'Home', root_url %></li>
						<li><%= link_to 'Photos', 'http://photos.pgengler.net' %></li>
						<li><%= link_to 'Github', 'https://github.com/pgengler' %></li>
						<li><%= link_to '@pgengler', 'https://twitter.com/pgengler', :title => '@pgengler on Twitter' %></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<div class='container-fluid'>
		<div class='row-fluid'>
			<div class='span8 offset2 main-content'>
				<%= yield %>
			</div>
		</div>
	</div>
	<div class='row-fluid'>
		<footer class='span12'>
			<%= link_to image_tag('somerights.png', :alt => 'Creative Commons Attribution License'), 'http://creativecommons.org/licenses/by/2.5' %>
			<br>
			Licensed under a Creative Commons license
		</footer>
	</div>
</body>
</html>
